In [98]:
import pandas as pd
import seaborn as sns
import sklearn
import numpy as np

In [99]:
data=pd.read_csv('energydata_complete.csv' )

Data was imported as series. Convert to dataframe

In [100]:
df = pd.DataFrame(data)

In [101]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [102]:
#drop the 'date' and 'lights' columns

df = df.drop(['date', 'lights'], axis = 1)

In [117]:
#normalize the dataset
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_2 = pd.DataFrame(scaler.fit_transform(df),  columns = df.columns)

#get features and labels
X = df_2.drop(columns=['Appliances'])
Y = df_2['Appliances']

In [118]:
#split the train and test data

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

### **Q12**

In [119]:
##Define data
x1 = np.array(df_2['T2'])
y = np.array(df_2['T6'])
x = x1.reshape(-1, 1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)


from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
predict = model.predict(x_test)

from sklearn.metrics import r2_score
r2 = r2_score(y_test, predict)
round(r2, 2)

0.64

**Q13**

In [120]:
main_model = LinearRegression()
main_model.fit(X_train, Y_train)
predict = main_model.predict(X_test)

In [121]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, predict)
round(mae, 2)

0.05

**Q14**

In [122]:
rss = np.sum(np.square(Y_test - predict))
round(rss, 2)

45.35

**Q15**

In [123]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_test, predict)
rmse = np.sqrt(mse)
round(rmse, 3)

0.088

**Q16**

In [124]:
from sklearn.metrics import r2_score
r_squared = r2_score(Y_test, predict)
round(r_squared, 2)

0.15

**Q17**

In [125]:
def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_reg_weights = weights(main_model, X_train, 'Linear_model_Weight')
linear_reg_weights

       Features  Linear_model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

**Q18**

In [126]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, Y_train)

ridge_pred = ridge_reg.predict(X_test)

#RMSE
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
round(rmse, 3)

0.366

### **Q19**

In [127]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, Y_train)

lasso_pred = lasso_reg.predict(X_test)

In [128]:
#Lasso regression weights
lasso_weights_df = weights(lasso_reg, X_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

**Q20**

In [129]:
#root mean squared error
from sklearn.metrics import  mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(rmse, 3)

0.368